@import "../css/partials/colors.scss";
@import "../css/partials/typography.scss";
@import "../css/partials/boiler.scss";
@import "../css/partials/animation.scss";
@import "../css/partials/project.scss";

#demo {
  margin-top: 145px;
}

.hero {
  height: 800px;
  width: 100%;
  max-width: 740px;
  background-image: url('img/hero.png');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

//Global project styling for mobile
@import "../css/partials/project-mobile.scss";

//Page specific
@media only screen
and (max-width : 640px) {

    .hero {
      height: 350px;
      max-width: 320px;
      text-align: center;
      margin-bottom: 20px;
    }

    #demo {
      margin-top: 70px;
    }

}