@import "../css/partials/colors.scss";
@import "../css/partials/typography.scss";
@import "../css/partials/boiler.scss";
@import "../css/partials/animation.scss";
@import "../css/partials/project.scss";

#demo {
  margin-top: 145px;
}

.hero {
  height: 489px;
  width: 100%;
  max-width: 640px;
  background-image: url('img/hero.png');
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  display: block;
  margin-top: 40px;
  margin-bottom: 20px;
}

@media only screen
and (max-width : 640px) {

    h1 {
      margin-top: 30px;
      font-size: 40px;
    }

    h2 {
      line-height: 22px;
      font-size: 18px;
    }

    .hero {
      height: 300px;
      max-width: 400px;
      margin-bottom: 20px;
    }

    #demo {
      margin-top: 70px;
    }

    .body-text {
      font-size: 16px;
      line-height: 27px;
    }

    #interface {
      display: none;
    }

}