@import "../../css/partials/colors.scss";
@import "../../css/partials/typography.scss";
@import "../../css/partials/boiler.scss";
@import "../../css/partials/animation.scss";
@import "../../css/partials/project.scss";

body {
	background: $silver;
}

.first {
	margin: 30px 0;

	a, p {
		color: $blue;
	}
}

.container-fluid {
	text-align: center;

	h3 {
		margin-bottom: 20px; 
		margin-top: 60px;
		color: $blue;
	}

	img {
		width: 80%;
		border-radius: 5px;
	    box-shadow: 0px 3px 8px 0px rgba(15,73,138,0.5);
	}
}

@media only screen
and (max-width : 640px) {

	img {
		width: 100%;
		border-radius: 5px;
	    box-shadow: 0px 3px 8px 0px rgba(15,73,138,0.5);
	}

}