@media only screen
and (max-width : 400px) {

  #headshot {
    margin: 0 auto;
    text-align: center;
  }

  .headerContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 380px;
    text-align: center;
  }

}
