$textColor: rgba(0, 0, 0, 1);

body {
  background-color: $silver;
}

a {
  color: $blue;
  font-size: 18px;
  font-family: $regular, $fallback;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 33px;
  font-size: 18px;
  font-family: $regular, $fallback;
  color: $textColor;
}

h1 {
  font-family: $bold, $fallback;
  margin-top: 10px;
  color: $textColor;
  font-size: 80px;
}

h2 {
  font-family: $light, $fallback;
  font-size: 24px;
  line-height: 29px;
  color: $blue;
  max-width: 450px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}

h3 {
  margin-top: 30px;
  font-family: $bold, $fallback;
  font-size: 18px;
}

h4 {
  color: $blue;
  font-size: 16px;
  margin: 15px 0 10px 0;
  font-family: $regular, $fallback;
}

.container {
  max-width: 700px;
}

.body-text {
  line-height: 37px;
  font-size: 18px;
  font-family: $regular, $fallback;
  color: $textColor;
  margin-bottom: 20px; 
}

.buttons {
  margin-top: 60px;
  margin-bottom: 90px;
}

.blueButton {
  background: #0074D9;
  box-shadow: 0px 3px 0px 0px #004B8C;
  border-radius: 7.59px;
  margin: 0px 40px;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  height: 65px;
  padding: 22px 40px 22px 40px;
  display: block;
  text-align: center;
}

.blueButton > p {
    font-family: $regular;
    font-size: 18px;
    color: #FFFFFF;
    line-height: 21px;
}

#newProject {
  margin-bottom: 30px;
}

#back {
  color: rgba(0, 0, 0, 0.3);
}

.container-fluid {
  margin-top: 30px
}

ul {
  text-align: center;
  padding-left: 0;
  li {
    max-width: 300px;
    list-style-type: none;
    display: inline;
    img {
      max-width: 300px;
      border-radius: 5px;
      margin: 15px 10px;
      box-shadow: 0px 1px 4px 0px rgba(15,73,138,0.4);
    }
  }
}

.italic {
  font-family: $italic;
}

.bold {
  font-family: $bold;
}

.back-top {
  $back-gray: rgba(0, 0, 0, 0.4);
  margin-top: 15px;
  a {
    color: $back-gray;
    &:hover {
      color: $back-gray;
    }
  }
  p {
    font-size: 12px;
    margin-top: -10px;
    color: $back-gray;
  }
}
