//TODO: Set up masthead

body {
  background-color: $silver;
}

//Typography styling

h1 {
  color: $solidBlack;
  font-size: 40px;
  font-family: $bold, $fallback;
}

h3 {
  font-family: $light, $fallback;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

h5 {
  color: $blue;
  font-family: $regular, $fallback;
  font-size: 16px;
}

p {
  font-family: $bold;
  font-size: 18px;
  line-height: 1.8em;
}

a {
  color: $blue;
  transition: color .3s;
  &:hover {
    text-decoration: none;
    color: darken($blue, 15%);
  }
}

#about {
  border-bottom: 1px solid $blue;
}


.head {
  margin-top: 20%;
  margin-bottom: 25px;
  max-width: 520px;
}

#headshot {
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.21);
  display: block;
  float: left;
  margin: 5px;
  max-width: 150px;
}

.headerContent {
  display: block;
  float: right;
}

#social ul li {
  display: inline;
  margin: 0 5px;
  list-style-type: none;
}

#social ul {
  margin-top: 15px;
  padding: 0px;
}

#social li:nth-child(1) {
  margin-right: 1px;
}

#social li:nth-child(4) {
  margin-left: 2px;
}

.icon {
  width: 40px;
}

#linkedin {
  width: 47px;
}

.left-list, .right-list {
  display: block;
  list-style-type: none;
  padding: 0;
}

.list {
  max-width: 705px;
}

/*
#footer {
  bottom: 0;
  display: block;
  margin: 0 auto;
  max-width: 960px;
}

#footer a, p {
  font-size: 10px;
  color: $gray;
}
*/
