@import "../css/partials/colors.scss";
@import "../css/partials/typography.scss";
@import "../css/partials/boiler.scss";
@import "../css/partials/animation.scss";
@import "../css/partials/project.scss";

.quote {
  font-family: $italic;
}

.workflow {
  height: 400px;
  width: 100%;
  background-image: url('img/sitemap.png');
  background-size: cover;
  background-position: center;
  padding: 0;
}

#demo {
  margin-top: 145px;
}

#iterate {
  width: 100%;
  max-width: 700px;
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  margin-bottom: 63px;
}

.nerd {
  font-family: monospace;
}


@import "../css/partials/project-mobile.scss";

@media only screen
and (max-width : 640px) {

  #iterate {
    display: none;
  }

  .build {
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 12px;
    max-width: 200px;
    line-height: 33px;
  }

  .quote {
    font-style: italic;
  }

  .workflow {
    height: 230px;
  }

}